<!DOCTYPE html>
<html>

{% include head.html %} 

<body class="splash-page" ng-app="cafapi" ng-controller="MainCtrl as vm">

  <div class="splash-header">
    <div class="caf-brand">
      <img class="logo" src="{{ page.logo }}" alt="">
      <h2 class="title" localize-text="product_title"></h2>
      <h3 class="slogan" localize-text="product_slogan"></h3>
    </div>
  </div>

  <div class="container m-t-xl m-b-xl">

    <div class="row m-b-xl">
      <div class="col-md-12 showcase-header" ng-bind-html="::vm.header">
      </div>
    </div>
    <hr> 
    

    <div class="row m-b-xl" ng-repeat="service in ::vm.services">
      <div class="col-md-12 showcase-service">

        <!-- Content goes here -->
        <div ng-bind-html="::service.content"></div>

        <ul class="feature-list">
          <li class="feature" ng-repeat="feature in ::service.features">
            <div class="icon">
              <span class="hpe-icon" ng-class="::feature.icon"></span>
            </div>

            <h3 class="header" ng-bind="::feature.title"></h3>
            <p class="description" ng-bind="::feature.description"></p>
          </li>
        </ul>

        <br>
        <blockquote>
          <p><strong localize-text="open_source_status">Open Source Status</strong>: <span ng-bind="::service.status"></span></p>
        </blockquote>
      </div>
    </div>

    <hr>

  </div>

  <div class="splash-footer">
    <p>{{ page.footer }}</p>
  </div>

  <script type="text/json" id="showcase_json">
    {{ site.data.showcase | jsonify }}
  </script>

  <script type="text/json" id="localization_json">
    {{ site.data.localization | jsonify }}
  </script>

  {% include footer.html %} 

</body>

</html>